<mat-grid-list cols="3" rowHeight="40vh" MatSort>
  <mat-grid-tile *ngFor="let product of paginationProduct">
    <mat-card>
      <mat-card-title>{{product.name}}</mat-card-title>
      <img mat-card-image style="width: 300px; height: 200px" src="{{product.img}}" alt="Photo of a Shiba Inu">
      <mat-card-subtitle>{{product.price}} $</mat-card-subtitle>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          <mat-icon matBadgeColor="warn">add_shopping_cart</mat-icon>
          Add to cart
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-paginator
  [length]="pageLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="OnPaginate($event)">
</mat-paginator>
