<mat-grid-list  cols="3" rowHeight="500px">
  <mat-grid-tile
  *ngFor="let product of products"
  >
        <mat-card class="example-card">
          <mat-card-title>{{product.name}}</mat-card-title>
          <img mat-card-image src="{{product.img}}" alt="Photo of a Shiba Inu">
          <mat-card-subtitle>{{product.price}} $</mat-card-subtitle>
          <span class="spacer"></span>
          <mat-card-actions>
            <button mat-raised-button color="primary">
              <mat-icon matBadgeColor="warn">add_shopping_cart</mat-icon>
              Add to cart
            </button>
          </mat-card-actions>
        </mat-card>

  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = $event"
                   aria-label="Select page">
    </mat-paginator>
  </mat-grid-tile>
</mat-grid-list>


<div *ngIf="pageEvent" hidden>
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div>
